<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	
    <div class="container">
        <div id="app">
            <form action="">
                <h1>Crear Categoria</h1>
                <div class="form-group">
                   <label for="nombre">Nombre</label>
                   <input v-model="nombre" class="form-control" type="text" name="nombre" id="nombre">
                   <label for="nombre">Slug</label>
                   <input readonly v-model="generarSLug" class="form-control" type="text" name="nombre" id="slug">
                   <label for="descripcion">Descripcion</label>
                   <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="5"></textarea>
                   
                </div>

                <input type="submit" value="Guardar" class="btn btn-primary float-right">

            </form>
            <br>

            {{ nombre }}
            <br><br>

            {{ generarSLug }}
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                nombre: 'Alessandro Staiano'
            }, 
            computed:{
                generarSLug : function(){
                    var char = {
                        "á":"a","é":"e","í":"i","ó":"o","ú":"u",
                        "ñ":"n","Á":"A","É":"E","Í":"I","Ó":"O",
                        "Ú":"U","Ñ":"N"," ":"-","_":"-",
                    }
                    var expr = /[áéíóúÁÉÍÓÚÑñ_ ]/g;

                    return this.nombre.trim().replace(expr, function(e){
                        return char[e]
                    }).toLowerCase()
                    //<!-- return this.nombre.trim().replace(/ /g, '-' ).toLowerCase() -->
                }
            }
        });

    </script>



</body>
</html>